In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

import seaborn as sns

In [2]:
train_data=pd.read_csv("dataset/training_set.csv")
test_data=pd.read_csv("dataset/test_set.csv")

# EDA AND PREPROCESSING

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 59 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3910 non-null   int64
 1   X1          3910 non-null   float64
 2   X2          3910 non-null   float64
 3   X3          3910 non-null   float64
 4   X4          3910 non-null   float64
 5   X5          3910 non-null   float64
 6   X6          3910 non-null   float64
 7   X7          3910 non-null   float64
 8   X8          3910 non-null   float64
 9   X9          3910 non-null   float64
 10  X10         3910 non-null   float64
 11  X11         3910 non-null   float64
 12  X12         3910 non-null   float64
 13  X13         3910 non-null   float64
 14  X14         3910 non-null   float64
 15  X15         3910 non-null   float64
 16  X16         3910 non-null   float64
 17  X17         3910 non-null   float64
 18  X18         3910 non-null   float64
 19  X19         3910 non-null   float64
 20  X20         3910 non-null   float64
 21  X21         3910 non-null   float64
 22  X22         3910 non-null   float64
 23  X23         3910 non-null   float64
 24  X24         3910 non-null   float64
 25  X25         3910 non-null   float64
 26  X26         3910 non-null   float64
 27  X27         3910 non-null   float64
 28  X28         3910 non-null   float64
 29  X29         3910 non-null   float64
 30  X30         3910 non-null   float64
 31  X31         3910 non-null   float64
 32  X32         3910 non-null   float64
 33  X33         3910 non-null   float64
 34  X34         3910 non-null   float64
 35  X35         3910 non-null   float64
 36  X36         3910 non-null   float64
 37  X37         3910 non-null   float64
 38  X38         3910 non-null   float64
 39  X39         3910 non-null   float64
 40  X40         3910 non-null   float64
 41  X41         3910 non-null   float64
 42  X42         3910 non-null   float64
 43  X43         3910 non-null   float64
 44  X44         3910 non-null   float64
 45  X45         3910 non-null   float64
 46  X46         3910 non-null   float64
 47  X47         3910 non-null   float64
 48  X48         3910 non-null   float64
 49  X49         3910 non-null   float64
 50  X50         3910 non-null   float64
 51  X51         3910 non-null   float64
 52  X52         3910 non-null   float64
 53  X53         3910 non-null   float64
 54  X54         3910 non-null   float64
 55  X55         3910 non-null   float64
 56  X56         3910 non-null   int64
 57  X57         3910 non-null   int64
 58  Y           3910 non-null   int64
dtypes: float64(55), int64(4)
memory usage: 1.8 MB

In [4]:
train_data.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X49,X50,X51,X52,X53,X54,X55,X56,X57,Y
0,0,0.00,0.00,4.34,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.000,0.0,1.342,0.000,0.000,1.200,2,12,0
1,1,0.00,0.56,0.56,0.00,1.12,0.56,2.25,0.00,0.0,...,0.0,0.083,0.0,0.503,0.000,0.083,16.304,148,375,1
2,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,...,0.0,0.000,0.0,0.000,0.000,0.000,1.000,1,5,0
3,3,0.64,0.00,0.64,0.00,1.93,0.00,0.00,0.00,0.0,...,0.0,0.000,0.0,0.462,0.370,0.000,2.440,22,122,1
4,4,0.58,0.00,0.00,35.46,0.58,0.00,0.58,0.58,0.0,...,0.0,0.000,0.0,0.239,0.239,0.000,3.338,123,207,1

In [5]:
train_data=pd.read_csv("dataset/training_set.csv",index_col=0)
test_data=pd.read_csv("dataset/test_set.csv",index_col=0)

In [6]:
train_data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X49,X50,X51,X52,X53,X54,X55,X56,X57,Y
0,0.00,0.00,4.34,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.0,1.342,0.000,0.000,1.200,2,12,0
1,0.00,0.56,0.56,0.00,1.12,0.56,2.25,0.00,0.0,0.56,...,0.0,0.083,0.0,0.503,0.000,0.083,16.304,148,375,1
2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.0,0.000,0.000,0.000,1.000,1,5,0
3,0.64,0.00,0.64,0.00,1.93,0.00,0.00,0.00,0.0,0.00,...,0.0,0.000,0.0,0.462,0.370,0.000,2.440,22,122,1
4,0.58,0.00,0.00,35.46,0.58,0.00,0.58,0.58,0.0,0.00,...,0.0,0.000,0.0,0.239,0.239,0.000,3.338,123,207,1

In [7]:
train_data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of          X1     X2     X3     X4     X5     X6     X7     X8     X9    X10  \
0     False  False  False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
3905  False  False  False  False  False  False  False  False  False  False
3906  False  False  False  False  False  False  False  False  False  False
3907  False  False  False  False  False  False  False  False  False  False
3908  False  False  False  False  False  False  False  False  False  False
3909  False  False  False  False  False  False  False  False  False  False

      ...    X49    X50    X51    X52    X53    X54    X55    X56    X57  \
0     ...  False  False  False  False  False  False  False  False  False
1     ...  False  False  False  False  False  False  False  False  False
2     ...  False  False  False  False  False  False  False  False  False
3     ...  False  False  False  False  False  False  False  False  False
4     ...  False  False  False  False  False  False  False  False  False
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
3905  ...  False  False  False  False  False  False  False  False  False
3906  ...  False  False  False  False  False  False  False  False  False
3907  ...  False  False  False  False  False  False  False  False  False
3908  ...  False  False  False  False  False  False  False  False  False
3909  ...  False  False  False  False  False  False  False  False  False

          Y
0     False
1     False
2     False
3     False
4     False
...     ...
3905  False
3906  False
3907  False
3908  False
3909  False

[3910 rows x 58 columns]>

In [8]:

for i in range(1,57):
    col="X"+str(i)
    train_data[col]=train_data[col].replace(0,np.NAN)
    train_data[col].fillna(train_data[col].mean(), inplace=True)
res=train_data.isnull().sum()
print(res)

X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
X24    0
X25    0
X26    0
X27    0
X28    0
X29    0
X30    0
X31    0
X32    0
X33    0
X34    0
X35    0
X36    0
X37    0
X38    0
X39    0
X40    0
X41    0
X42    0
X43    0
X44    0
X45    0
X46    0
X47    0
X48    0
X49    0
X50    0
X51    0
X52    0
X53    0
X54    0
X55    0
X56    0
X57    0
Y      0
dtype: int64

In [9]:
train_data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X49,X50,X51,X52,X53,X54,X55,X56,X57,Y
0,0.450941,1.056414,4.340000,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.218474,0.234688,0.135829,1.342000,0.2542,0.266513,1.200,2,12,0
1,0.450941,0.560000,0.560000,6.223333,1.12000,0.560000,2.250000,0.579888,0.537526,0.560000,...,0.218474,0.083000,0.135829,0.503000,0.2542,0.083000,16.304,148,375,1
2,0.450941,1.056414,0.686046,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.218474,0.234688,0.135829,0.558512,0.2542,0.266513,1.000,1,5,0
3,0.640000,1.056414,0.640000,6.223333,1.93000,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.218474,0.234688,0.135829,0.462000,0.3700,0.266513,2.440,22,122,1
4,0.580000,1.056414,0.686046,35.460000,0.58000,0.436349,0.580000,0.580000,0.537526,0.863825,...,0.218474,0.234688,0.135829,0.239000,0.2390,0.266513,3.338,123,207,1

In [10]:
test_data=test_data.replace(0,np.NAN)
for i in range(1,57):
    col="X"+str(i)
    test_data[col].fillna(test_data[col].mean(), inplace=True)

In [11]:
test_data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X48,X49,X50,X51,X52,X53,X54,X55,X56,X57
0,0.70000,1.290896,0.70,7.28875,0.870317,0.474676,0.701626,0.640734,0.527455,0.745663,...,0.532258,0.259546,0.241018,0.222667,0.105,0.21935,0.300673,2.342,47,89
1,0.48975,1.290896,0.84,7.28875,0.840000,0.474676,0.840000,0.640734,0.527455,0.745663,...,0.532258,0.259546,0.388000,0.222667,0.776,0.12900,0.300673,10.375,168,249
2,0.46000,0.300000,0.46,7.28875,0.050000,0.120000,0.050000,0.280000,0.430000,0.740000,...,0.532258,0.259546,0.065000,0.222667,0.325,0.75600,0.153000,5.891,193,3040
3,0.10000,0.200000,1.01,7.28875,0.800000,0.800000,0.500000,0.640734,0.800000,0.100000,...,0.532258,0.259546,0.110000,0.222667,0.490,0.15800,0.015000,8.550,669,1351
4,0.48975,1.290896,0.72,7.28875,0.720000,0.474676,0.720000,0.640734,0.527455,0.745663,...,0.532258,0.259546,0.364000,0.222667,0.729,0.12100,0.300673,7.781,32,249

# FEATURE SELECTION

In [12]:
features=train_data.drop('Y',axis="columns")
target=train_data['Y']
train_data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X49,X50,X51,X52,X53,X54,X55,X56,X57,Y
0,0.450941,1.056414,4.340000,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.218474,0.234688,0.135829,1.342000,0.2542,0.266513,1.200,2,12,0
1,0.450941,0.560000,0.560000,6.223333,1.12000,0.560000,2.250000,0.579888,0.537526,0.560000,...,0.218474,0.083000,0.135829,0.503000,0.2542,0.083000,16.304,148,375,1
2,0.450941,1.056414,0.686046,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.218474,0.234688,0.135829,0.558512,0.2542,0.266513,1.000,1,5,0
3,0.640000,1.056414,0.640000,6.223333,1.93000,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.218474,0.234688,0.135829,0.462000,0.3700,0.266513,2.440,22,122,1
4,0.580000,1.056414,0.686046,35.460000,0.58000,0.436349,0.580000,0.580000,0.537526,0.863825,...,0.218474,0.234688,0.135829,0.239000,0.2390,0.266513,3.338,123,207,1

In [13]:
features.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X48,X49,X50,X51,X52,X53,X54,X55,X56,X57
0,0.450941,1.056414,4.340000,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,1.342000,0.2542,0.266513,1.200,2,12
1,0.450941,0.560000,0.560000,6.223333,1.12000,0.560000,2.250000,0.579888,0.537526,0.560000,...,0.75657,0.218474,0.083000,0.135829,0.503000,0.2542,0.083000,16.304,148,375
2,0.450941,1.056414,0.686046,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,0.558512,0.2542,0.266513,1.000,1,5
3,0.640000,1.056414,0.640000,6.223333,1.93000,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,0.462000,0.3700,0.266513,2.440,22,122
4,0.580000,1.056414,0.686046,35.460000,0.58000,0.436349,0.580000,0.580000,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,0.239000,0.2390,0.266513,3.338,123,207

In [14]:
target.head()

0    0
1    1
2    0
3    1
4    1
Name: Y, dtype: int64

In [15]:
#splitting training data into 4:1 training data and validation data
x_train, x_test, y_train, y_test = train_test_split(
  features,target ,test_size=0.25)

In [16]:
#FEATURE SCALING
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [17]:
model=KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [18]:
#prediction on validation data
y_pred=model.predict(x_test)

In [19]:
#finding accuracy
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.91      0.89       612
           1       0.84      0.79      0.81       366

    accuracy                           0.87       978
   macro avg       0.86      0.85      0.85       978
weighted avg       0.86      0.87      0.86       978

[[556  56]
 [ 76 290]]

In [20]:
#predicting on test data set

In [21]:
pred=model.predict(test_data)

C:\Users\RANE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:434: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [22]:
print(pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 0 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1
 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1
 1 1 0 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 0 0 1 1 1
 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 0 1
 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1]

In [23]:
#keeping the Data as it is not preprocessing the data and inserting mean in place of 0

In [24]:
train=pd.read_csv("dataset/training_set.csv",index_col=0)
test=pd.read_csv("dataset/test_set.csv",index_col=0)

In [25]:
featuresn=train.drop('Y',axis="columns")
targetn=train['Y']
features.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X48,X49,X50,X51,X52,X53,X54,X55,X56,X57
0,0.450941,1.056414,4.340000,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,1.342000,0.2542,0.266513,1.200,2,12
1,0.450941,0.560000,0.560000,6.223333,1.12000,0.560000,2.250000,0.579888,0.537526,0.560000,...,0.75657,0.218474,0.083000,0.135829,0.503000,0.2542,0.083000,16.304,148,375
2,0.450941,1.056414,0.686046,6.223333,0.81365,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,0.558512,0.2542,0.266513,1.000,1,5
3,0.640000,1.056414,0.640000,6.223333,1.93000,0.436349,0.642061,0.579888,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,0.462000,0.3700,0.266513,2.440,22,122
4,0.580000,1.056414,0.686046,35.460000,0.58000,0.436349,0.580000,0.580000,0.537526,0.863825,...,0.75657,0.218474,0.234688,0.135829,0.239000,0.2390,0.266513,3.338,123,207

In [26]:
x_train, x_test, y_train, y_test = train_test_split(
  featuresn,targetn ,test_size=0.25)

In [27]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [28]:
model=KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [29]:
y_pred=model.predict(x_test)

In [30]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.94      0.92       589
           1       0.90      0.85      0.88       389

    accuracy                           0.90       978
   macro avg       0.90      0.90      0.90       978
weighted avg       0.90      0.90      0.90       978

[[554  35]
 [ 58 331]]

In [31]:
pred=model.predict(test)

C:\Users\RANE\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:434: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [32]:
print(pred)

[1 1 1 1 1 0 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 0 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1
 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1
 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 0 1
 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 1 1 0 1 1 1 0 1 1
 1 1 1 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0]